.notificationBody {
  width: 120px;
  height: 50px;
  background: rgb(33, 199, 33);
  position: absolute;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 20px;
  right: 20px;
  color: black;
}
