.SideBar {
  height: calc(100vh - var(--navbar-hight));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.2s;
  z-index: 999999;
}

.switchers {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}
.sideBarItems {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sideBarItems.collapsed {
  padding: 5px;

  a {
    text-align: center;
  }
  svg {
    fill: var(--secondary-color);
  }
}
