.PageError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font: var(--font-l);
}
.PageErrorText {
  margin-bottom: 20px;
}
