.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #2a2a2a;

  --primary-color: #5a79d9;
  --secondary-color: #1c459e;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
  --overlay-color: rgba(0 0 0 / 60%);

  //skeleton
  --skeleton-color: #ffffff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
