.Input {
  padding: 4px 15px;
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
}
.Input::placeholder {
  color: var(--secondary-color);
}
.Input:focus {
  outline: none;
}
.readOnly {
  opacity: 0.6;
  cursor: not-allowed;
}
